/* grid areas */

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

/* default grid layout mobile */

body {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "aside"
        "footer";
}

/* medium grid layout */

@media (min-width: 500px) {
    body {
      grid-template-columns: 1fr 3fr;
      grid-template-areas: 
        "header  header"
        "nav     nav"
        "main    aside"
        "footer  footer";
    }
    nav ul {
        display: flex;
        justify-content: space-between;
      }
    }

/* large grid layout */

@media (min-width: 700px) {
    body {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas: 
        "header header  header"
        "nav    main    aside"
        "nav    main    aside"
        "footer footer  footer"
     }
     nav ul {
       flex-direction: column;
     }
}

/* body */

body {
    padding: 10px;
}

/* nav */

nav ul, footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul ul {
    padding-left: 1em;
}

/* Header & Footer */

header, footer {
    background-color: #f05a3f;
    padding: 1rem;
}

header h1, footer {
    text-align: center;
    color:white;
}

header a, footer a {
    color: white;
}

/* Cards */

.card {
    background-color: rgba(rebeccapurple, 0.4);
    
    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
    
    h2,
    p {
      padding: 0 1rem;
    }
  }

/* Footer */

@media (min-width: 500px) {
    footer ul {
        display: flex;
        justify-content: space-between;
    }
}

/* Breadcrumbs */
ul.breadcrumb {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumb li {
    float: left;
    margin-right: 10px;
    margin-bottom: 0;
}

.breadcrumb li:after {
    content: '/';
    color: #bbb;
    right: -4.5px;
    position: relative;
}

.breadcrumb:after {
    display: table;
    clear: both;
    content: "";
}

li.active:after {
    display: table;
    clear: both;
    content: "";
}