/* Header & Footer */

header, footer {
    background-color: #f05a3f;
    padding: 1rem;
}

header h1, footer {
    text-align: center;
}

header a, footer a {
    color: white;
}

/* Footer */

footer ul li {
    display: inline;
}