/* grid areas */

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

/* default grid layout mobile */

body {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "aside"
        "footer";
}

/* medium grid layout */

@media (min-width: 500px) {
    body {
      grid-template-columns: 1fr 3fr;
      grid-template-areas: 
        "header  header"
        "nav     nav"
        "main    aside"
        "footer  footer";
    }
    nav ul {
        display: flex;
        justify-content: space-between;
      }
    }

/* large grid layout */

@media (min-width: 700px) {
    body {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas: 
        "header header  header"
        "nav    main    aside"
        "nav    main    aside"
        "footer footer  footer"
     }
     nav ul {
       flex-direction: column;
     }
}

/* body */

body {
    padding: 10px;
}

/* nav */

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Header & Footer */

header, footer {
    background-color: #f05a3f;
    padding: 1rem;
}

header h1, footer {
    text-align: center;
}

header a, footer a {
    color: white;
}

/* Footer */

footer ul li {
    display: inline;
}