html {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #001522;
    background: #fefefe;
}

/* headings */
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.2rem;
}

/* anchors */

a {
    color: #f05a3f;
    font-weight: 600;
}

a:hover {
    text-decoration: none;
}

main a {
    font-weight: 400;
}

/* legended anchors */

a.user_testing, a.in_progress {
    color: #1d1847;
}

a.completed {
    background-color: #00a481;
    color: white;
    text-decoration: none;
}

a:hover.completed {
    color: #00a481;
    background-color: white;
    text-decoration: underline;
}

a.accepted {
    color: #28a0c7;
}

/* legend */

ul.legend {
    padding: 5px
}

.legend li {
    padding: 3px
}

li.completed {
    color: white;
    background-color: #00a481;
}

li.accepted {
    color: white;
    background-color: #28a0c7;
}

li.in_progress, li.user_testing {
    color: white;
    background-color: #1d1847;
}